@model CSIMediaTest.ViewModels.NumbersViewModel

<div class="container">


    <br />
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                        @Html.TextBoxFor(x => x.Number, new { id = "txtNumber" })

                        <a id="btnAddNumber" class="btn">Add Number</a>

                        <span class="alert-danger">
                            @Html.ValidationMessageFor(x => x.Number)
                        </span>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ExportToXml", "Home", FormMethod.Post, new { id = "numberSortForm" }))
        {

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.ListBoxFor(x => x.NumbersList, new List<SelectListItem>(), new { id = "lstNumber", style = "width: 50%" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(x => x.TimeTakenToSort, new { id = "timeTakenToSort" })
            @Html.HiddenFor(x => x.SortDirection, new { id = "direction" })

            <div class="row">
                <a id="btnSortAscending" value="Ascending" class="btn">Ascending</a>
                <a id="btnSortDescending" value="Descending" class="btn">Descending</a>
                <span class="alert-danger">
                    @Html.ValidationMessageFor(x => x.NumbersList)
                </span>
            </div>

            <br />
            <div class="container">
                <input class="btn" type="submit" value="Export To XML" />
            </div>
            <div class="col-md-12">
                <br />
                @Html.Partial("_ShowAllSortings", Model)
            </div>
        }

    </div>
</div>


@section Scripts
{

<script type="text/javascript">

    $("#btnAddNumber").click(function () {

        var number = $("#txtNumber").val();

        var isNumeric = $.isNumeric(number);

        if (isNumeric != false) {
            $("#lstNumber").append('<option value="' + number + '">' + number + '</option>');
        }
        else {
            return false;
        }

        $("#txtNumber").val("");


    });

    $("#btnSortAscending").click(function () {

        AppendList();

        $("#direction").val("Ascending");

        PostForm();

        ClearList();

    })

    $("#btnSortDescending").click(function () {

        AppendList();

        $("#direction").val("Descending");

        PostForm();

        ClearList();

    })

    function ClearList() {
        $("#lstNumber").empty();
    }

    function AppendList() {
        var numberList = $("#lstNumber option");

        $(numberList).remove();
        $("#lstNumber").append($(numberList));
    }

    function PostForm() {
        $("#lstNumber option").prop('selected', true);

        var formValues = $("#numberSortForm").serialize();

        $.post('@Url.Action("Save", "Home")', formValues)
            .done(function () {
                $.ajaxSetup({ cache: false });
                $('#listOfSortedNumbers').load('@Url.Action("GetAllRecordsPartialView", "Home")');
            });
    }

</script>
}